*
!Makefile
!ds4.c
!ds4.h
!ds4_gpu.h
!ds4_cli.c
!ds4_server.c
!ds4_bench.c
!ds4_cuda.cu
!ds4_iq2_tables_cuda.inc
!linenoise.c
!linenoise.h
!rax.c
!rax.h
!rax_malloc.h
!download_model.sh
!docker/
!docker/Dockerfile
!docker/entrypoint.sh
